.popup,
.popup2 {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 123px;
}

.popup__show {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.popup__content {
    font-family: 'Inter-Regular', sans-serif;
    position: relative;
    border: 1px solid #888;
    width: 280px;
    height: fit-content;
    border-radius: 4px;
    background-color: #ffffff;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup__title {
    font-size: 18px;
    font-weight: bold;
    max-width: 238px;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 45px;
    padding-left: 22px;
    align-self: flex-start;
}

.popup__form {
    max-width: 238px;
}

.popup__input {
    width: 100%;
    max-height: 26px;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

.popup__save-button {
    background: #000000;
    width: 238px;
    height: 46px;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 20px;
}


.popup__button_disabled {
    background-color: white;
    cursor: default; 
    width: 238px;
    height: 46px;
    border-radius: 5px;
    margin-top: 20px;
    
}

.popup__close-button,
.popup__close-button2 {
    background: none;
    border: none;
    position: absolute;
    top: -30px;
    right: 10px;
}

.popup__image {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 123px;
}

.popup__image-show {
    display: flex;
    justify-content: center;
}

.popup__image-root-container {
    flex: 1;
    display: flex;
    width: max-content;
    max-width: 75vw;
    max-height: 75vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup__image-container {
    width: max-content;
    position: relative;
    max-width: 75vw;
    max-height: 75vh;
}

.popup__image-url {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.popup__image-close-btn {
    max-width: 40px;
    max-height: 40px;
    background: none;
    border: none;
    position: absolute;
    top: -30px;
    right: 10px;
}

.popup__image-text {
    color: #ffffff;
    font-size: 12px;
    font-family: 'Inter', sans-serif;

}

.popup__input_type_error {
    border-bottom: 1px solid red;
}

.popup__input-error { 
    color: red;
    font-size: 12px;
}

input:invalid {
    border-bottom: 1px solid grey;
}

input.touched:invalid {
    border: 2px solid red; 
}

@media screen and (min-width: 1280px) {
    .popup__content {
        width: 430px;
    }

    .popup__title {
        font-size: 24px;
        text-align: left;
    }

    .popup__form {
        max-width: 350px;
    }

    .popup__input {
        width: 100%;
    }

    .popup__save-button {
        width: 100%;
    }

    .popup__button_disabled {
        width: 100%;
    }
}
